:root {
	--md-primary: var(--md-primary-light);
	--md-on-primary: var(--md-on-primary-light);
	--md-primary-container: var(--md-primary-container-light);
	--md-on-primary-container: var(--md-on-primary-container-light);
	--md-primary-fixed: var(--md-primary-fixed-light);
	--md-on-primary-fixed: var(--md-on-primary-fixed-light);
	--md-primary-fixed-dim: var(--md-primary-fixed-dim-light);
	--md-on-primary-fixed-variant: var(--md-on-primary-fixed-variant-light);
	--md-secondary: var(--md-secondary-light);
	--md-on-secondary: var(--md-on-secondary-light);
	--md-secondary-container: var(--md-secondary-container-light);
	--md-on-secondary-container: var(--md-on-secondary-container-light);
	--md-secondary-fixed: var(--md-secondary-fixed-light);
	--md-on-secondary-fixed: var(--md-on-secondary-fixed-light);
	--md-secondary-fixed-dim: var(--md-secondary-fixed-dim-light);
	--md-on-secondary-fixed-variant: var(--md-on-secondary-fixed-variant-light);
	--md-tertiary: var(--md-tertiary-light);
	--md-on-tertiary: var(--md-on-tertiary-light);
	--md-tertiary-container: var(--md-tertiary-container-light);
	--md-on-tertiary-container: var(--md-on-tertiary-container-light);
	--md-tertiary-fixed: var(--md-tertiary-fixed-light);
	--md-on-tertiary-fixed: var(--md-on-tertiary-fixed-light);
	--md-tertiary-fixed-dim: var(--md-tertiary-fixed-dim-light);
	--md-on-tertiary-fixed-variant: var(--md-on-tertiary-fixed-variant-light);
	--md-error: var(--md-error-light);
	--md-on-error: var(--md-on-error-light);
	--md-error-container: var(--md-error-container-light);
	--md-on-error-container: var(--md-on-error-container-light);
	--md-outline: var(--md-outline-light);
	--md-background: var(--md-background-light);
	--md-on-background: var(--md-on-background-light);
	--md-surface: var(--md-surface-light);
	--md-on-surface: var(--md-on-surface-light);
	--md-surface-variant: var(--md-surface-variant-light);
	--md-on-surface-variant: var(--md-on-surface-variant-light);
	--md-inverse-surface: var(--md-inverse-surface-light);
	--md-inverse-on-surface: var(--md-inverse-on-surface-light);
	--md-inverse-primary: var(--md-inverse-primary-light);
	--md-shadow: var(--md-shadow-light);
	--md-surface-tint: var(--md-surface-tint-light);
	--md-outline-variant: var(--md-outline-variant-light);
	--md-scrim: var(--md-scrim-light);
	--md-surface-container-highest: var(--md-surface-container-highest-light);
	--md-surface-container-high: var(--md-surface-container-high-light);
	--md-surface-container: var(--md-surface-container-light);
	--md-surface-container-low: var(--md-surface-container-low-light);
	--md-surface-container-lowest: var(--md-surface-container-lowest-light);
	--md-surface-bright: var(--md-surface-bright-light);
	--md-surface-dim: var(--md-surface-dim-light);
}