:root {
	--md-source: #84946D;
	/* primary */
	--md-ref-palette-primary0: #000000;
	--md-ref-palette-primary5: #091400;
	--md-ref-palette-primary10: #102000;
	--md-ref-palette-primary20: #203700;
	--md-ref-palette-primary25: #284300;
	--md-ref-palette-primary30: #304F00;
	--md-ref-palette-primary35: #395C04;
	--md-ref-palette-primary40: #456812;
	--md-ref-palette-primary50: #5C822B;
	--md-ref-palette-primary60: #759C42;
	--md-ref-palette-primary70: #8FB85A;
	--md-ref-palette-primary80: #A9D472;
	--md-ref-palette-primary90: #C5F18B;
	--md-ref-palette-primary95: #D3FF99;
	--md-ref-palette-primary98: #F0FFD6;
	--md-ref-palette-primary99: #F9FFE8;
	--md-ref-palette-primary100: #FFFFFF;
	/* secondary */
	--md-ref-palette-secondary0: #000000;
	--md-ref-palette-secondary5: #0B1303;
	--md-ref-palette-secondary10: #161E0B;
	--md-ref-palette-secondary20: #2A331E;
	--md-ref-palette-secondary25: #353E28;
	--md-ref-palette-secondary30: #404A33;
	--md-ref-palette-secondary35: #4C563E;
	--md-ref-palette-secondary40: #586249;
	--md-ref-palette-secondary50: #707B61;
	--md-ref-palette-secondary60: #8A9579;
	--md-ref-palette-secondary70: #A4AF92;
	--md-ref-palette-secondary80: #C0CBAC;
	--md-ref-palette-secondary90: #DCE7C7;
	--md-ref-palette-secondary95: #EAF5D5;
	--md-ref-palette-secondary98: #F3FEDD;
	--md-ref-palette-secondary99: #F9FFE8;
	--md-ref-palette-secondary100: #FFFFFF;
	/* tertiary */
	--md-ref-palette-tertiary0: #000000;
	--md-ref-palette-tertiary5: #001413;
	--md-ref-palette-tertiary10: #00201E;
	--md-ref-palette-tertiary20: #003734;
	--md-ref-palette-tertiary25: #10423F;
	--md-ref-palette-tertiary30: #1F4E4B;
	--md-ref-palette-tertiary35: #2C5A57;
	--md-ref-palette-tertiary40: #386663;
	--md-ref-palette-tertiary50: #517F7B;
	--md-ref-palette-tertiary60: #6B9995;
	--md-ref-palette-tertiary70: #85B4B0;
	--md-ref-palette-tertiary80: #A0D0CB;
	--md-ref-palette-tertiary90: #BCECE7;
	--md-ref-palette-tertiary95: #CAFAF5;
	--md-ref-palette-tertiary98: #E3FFFC;
	--md-ref-palette-tertiary99: #F2FFFD;
	--md-ref-palette-tertiary100: #FFFFFF;
	/* error */
	--md-ref-palette-error0: #000000;
	--md-ref-palette-error5: #2D0001;
	--md-ref-palette-error10: #410002;
	--md-ref-palette-error20: #690005;
	--md-ref-palette-error25: #7E0007;
	--md-ref-palette-error30: #93000A;
	--md-ref-palette-error35: #A80710;
	--md-ref-palette-error40: #BA1A1A;
	--md-ref-palette-error50: #DE3730;
	--md-ref-palette-error60: #FF5449;
	--md-ref-palette-error70: #FF897D;
	--md-ref-palette-error80: #FFB4AB;
	--md-ref-palette-error90: #FFDAD6;
	--md-ref-palette-error95: #FFEDEA;
	--md-ref-palette-error98: #FFF8F7;
	--md-ref-palette-error99: #FFFBFF;
	--md-ref-palette-error100: #FFFFFF;
	/* neutral */
	--md-ref-palette-neutral0: #000000;
	--md-ref-palette-neutral5: #10110D;
	--md-ref-palette-neutral10: #1B1C18;
	--md-ref-palette-neutral20: #30312C;
	--md-ref-palette-neutral25: #3B3C37;
	--md-ref-palette-neutral30: #464742;
	--md-ref-palette-neutral35: #52534D;
	--md-ref-palette-neutral40: #5E5F59;
	--md-ref-palette-neutral50: #777771;
	--md-ref-palette-neutral60: #91918B;
	--md-ref-palette-neutral70: #ACACA5;
	--md-ref-palette-neutral80: #C7C7C0;
	--md-ref-palette-neutral90: #E3E3DB;
	--md-ref-palette-neutral95: #F2F1E9;
	--md-ref-palette-neutral98: #FBFAF2;
	--md-ref-palette-neutral99: #FDFCF5;
	--md-ref-palette-neutral100: #FFFFFF;
	/* neutral-variant */
	--md-ref-palette-neutral-variant0: #000000;
	--md-ref-palette-neutral-variant5: #0F120A;
	--md-ref-palette-neutral-variant10: #191D14;
	--md-ref-palette-neutral-variant20: #2E3228;
	--md-ref-palette-neutral-variant25: #393D32;
	--md-ref-palette-neutral-variant30: #44483D;
	--md-ref-palette-neutral-variant35: #505448;
	--md-ref-palette-neutral-variant40: #5C6054;
	--md-ref-palette-neutral-variant50: #75796C;
	--md-ref-palette-neutral-variant60: #8F9285;
	--md-ref-palette-neutral-variant70: #A9AD9F;
	--md-ref-palette-neutral-variant80: #C5C8BA;
	--md-ref-palette-neutral-variant90: #E1E4D5;
	--md-ref-palette-neutral-variant95: #EFF2E3;
	--md-ref-palette-neutral-variant98: #F8FBEB;
	--md-ref-palette-neutral-variant99: #FBFEEE;
	--md-ref-palette-neutral-variant100: #FFFFFF;
	/* light */
	--md-primary-light: #456812;
	--md-on-primary-light: #FFFFFF;
	--md-primary-container-light: #C5F18B;
	--md-on-primary-container-light: #102000;
	--md-primary-fixed-light: #C5F18B;
	--md-on-primary-fixed-light: #102000;
	--md-primary-fixed-dim-light: #A9D472;
	--md-on-primary-fixed-variant-light: #304F00;
	--md-secondary-light: #586249;
	--md-on-secondary-light: #FFFFFF;
	--md-secondary-container-light: #DCE7C7;
	--md-on-secondary-container-light: #161E0B;
	--md-secondary-fixed-light: #DCE7C7;
	--md-on-secondary-fixed-light: #161E0B;
	--md-secondary-fixed-dim-light: #C0CBAC;
	--md-on-secondary-fixed-variant-light: #404A33;
	--md-tertiary-light: #386663;
	--md-on-tertiary-light: #FFFFFF;
	--md-tertiary-container-light: #BCECE7;
	--md-on-tertiary-container-light: #00201E;
	--md-tertiary-fixed-light: #BCECE7;
	--md-on-tertiary-fixed-light: #00201E;
	--md-tertiary-fixed-dim-light: #A0D0CB;
	--md-on-tertiary-fixed-variant-light: #1F4E4B;
	--md-error-light: #BA1A1A;
	--md-on-error-light: #FFFFFF;
	--md-error-container-light: #FFDAD6;
	--md-on-error-container-light: #410002;
	--md-outline-light: #75796C;
	--md-background-light: #FDFCF5;
	--md-on-background-light: #1B1C18;
	--md-surface-light: #FBFAF2;
	--md-on-surface-light: #1B1C18;
	--md-surface-variant-light: #E1E4D5;
	--md-on-surface-variant-light: #44483D;
	--md-inverse-surface-light: #30312C;
	--md-inverse-on-surface-light: #F2F1E9;
	--md-inverse-primary-light: #A9D472;
	--md-shadow-light: #000000;
	--md-surface-tint-light: #456812;
	--md-outline-variant-light: #C5C8BA;
	--md-scrim-light: #000000;
	--md-surface-container-highest-light: #E3E3DB;
	--md-surface-container-high-light: #E9E8E1;
	--md-surface-container-light: #EFEEE7;
	--md-surface-container-low-light: #F5F4EC;
	--md-surface-container-lowest-light: #FFFFFF;
	--md-surface-bright-light: #FBFAF2;
	--md-surface-dim-light: #DBDAD3;
	/* dark */
	--md-primary-dark: #A9D472;
	--md-on-primary-dark: #203700;
	--md-primary-container-dark: #304F00;
	--md-on-primary-container-dark: #C5F18B;
	--md-primary-fixed-dark: #C5F18B;
	--md-on-primary-fixed-dark: #102000;
	--md-primary-fixed-dim-dark: #A9D472;
	--md-on-primary-fixed-variant-dark: #304F00;
	--md-secondary-dark: #C0CBAC;
	--md-on-secondary-dark: #2A331E;
	--md-secondary-container-dark: #404A33;
	--md-on-secondary-container-dark: #DCE7C7;
	--md-secondary-fixed-dark: #DCE7C7;
	--md-on-secondary-fixed-dark: #161E0B;
	--md-secondary-fixed-dim-dark: #C0CBAC;
	--md-on-secondary-fixed-variant-dark: #404A33;
	--md-tertiary-dark: #A0D0CB;
	--md-on-tertiary-dark: #003734;
	--md-tertiary-container-dark: #1F4E4B;
	--md-on-tertiary-container-dark: #BCECE7;
	--md-tertiary-fixed-dark: #BCECE7;
	--md-on-tertiary-fixed-dark: #00201E;
	--md-tertiary-fixed-dim-dark: #A0D0CB;
	--md-on-tertiary-fixed-variant-dark: #1F4E4B;
	--md-error-dark: #FFB4AB;
	--md-on-error-dark: #690005;
	--md-error-container-dark: #93000A;
	--md-on-error-container-dark: #FFDAD6;
	--md-outline-dark: #8F9285;
	--md-background-dark: #1B1C18;
	--md-on-background-dark: #E3E3DB;
	--md-surface-dark: #121410;
	--md-on-surface-dark: #C7C7C0;
	--md-surface-variant-dark: #44483D;
	--md-on-surface-variant-dark: #C5C8BA;
	--md-inverse-surface-dark: #E3E3DB;
	--md-inverse-on-surface-dark: #1B1C18;
	--md-inverse-primary-dark: #456812;
	--md-shadow-dark: #000000;
	--md-surface-tint-dark: #A9D472;
	--md-outline-variant-dark: #44483D;
	--md-scrim-dark: #000000;
	--md-surface-container-highest-dark: #343530;
	--md-surface-container-high-dark: #292A26;
	--md-surface-container-dark: #1F201C;
	--md-surface-container-low-dark: #1B1C18;
	--md-surface-container-lowest-dark: #0D0F0B;
	--md-surface-bright-dark: #383A35;
	--md-surface-dim-dark: #121410;
	/* display - large */
	--md-sys-typescale-display-large-font-family-name: Roboto;
	--md-sys-typescale-display-large-font-family-style: Regular;
	--md-sys-typescale-display-large-font-weight: 400px;
	--md-sys-typescale-display-large-font-size: 57px;
	--md-sys-typescale-display-large-line-height: 64px;
	--md-sys-typescale-display-large-letter-spacing: -0.25px;
	/* display - medium */
	--md-sys-typescale-display-medium-font-family-name: Roboto;
	--md-sys-typescale-display-medium-font-family-style: Regular;
	--md-sys-typescale-display-medium-font-weight: 400px;
	--md-sys-typescale-display-medium-font-size: 45px;
	--md-sys-typescale-display-medium-line-height: 52px;
	--md-sys-typescale-display-medium-letter-spacing: 0px;
	/* display - small */
	--md-sys-typescale-display-small-font-family-name: Roboto;
	--md-sys-typescale-display-small-font-family-style: Regular;
	--md-sys-typescale-display-small-font-weight: 400px;
	--md-sys-typescale-display-small-font-size: 36px;
	--md-sys-typescale-display-small-line-height: 44px;
	--md-sys-typescale-display-small-letter-spacing: 0px;
	/* headline - large */
	--md-sys-typescale-headline-large-font-family-name: Roboto;
	--md-sys-typescale-headline-large-font-family-style: Regular;
	--md-sys-typescale-headline-large-font-weight: 400px;
	--md-sys-typescale-headline-large-font-size: 32px;
	--md-sys-typescale-headline-large-line-height: 40px;
	--md-sys-typescale-headline-large-letter-spacing: 0px;
	/* headline - medium */
	--md-sys-typescale-headline-medium-font-family-name: Roboto;
	--md-sys-typescale-headline-medium-font-family-style: Regular;
	--md-sys-typescale-headline-medium-font-weight: 400px;
	--md-sys-typescale-headline-medium-font-size: 28px;
	--md-sys-typescale-headline-medium-line-height: 36px;
	--md-sys-typescale-headline-medium-letter-spacing: 0px;
	/* headline - small */
	--md-sys-typescale-headline-small-font-family-name: Roboto;
	--md-sys-typescale-headline-small-font-family-style: Regular;
	--md-sys-typescale-headline-small-font-weight: 400px;
	--md-sys-typescale-headline-small-font-size: 24px;
	--md-sys-typescale-headline-small-line-height: 32px;
	--md-sys-typescale-headline-small-letter-spacing: 0px;
	/* body - large */
	--md-sys-typescale-body-large-font-family-name: Roboto;
	--md-sys-typescale-body-large-font-family-style: Regular;
	--md-sys-typescale-body-large-font-weight: 400px;
	--md-sys-typescale-body-large-font-size: 16px;
	--md-sys-typescale-body-large-line-height: 24px;
	--md-sys-typescale-body-large-letter-spacing: 0.50px;
	/* body - medium */
	--md-sys-typescale-body-medium-font-family-name: Roboto;
	--md-sys-typescale-body-medium-font-family-style: Regular;
	--md-sys-typescale-body-medium-font-weight: 400px;
	--md-sys-typescale-body-medium-font-size: 14px;
	--md-sys-typescale-body-medium-line-height: 20px;
	--md-sys-typescale-body-medium-letter-spacing: 0.25px;
	/* body - small */
	--md-sys-typescale-body-small-font-family-name: Roboto;
	--md-sys-typescale-body-small-font-family-style: Regular;
	--md-sys-typescale-body-small-font-weight: 400px;
	--md-sys-typescale-body-small-font-size: 12px;
	--md-sys-typescale-body-small-line-height: 16px;
	--md-sys-typescale-body-small-letter-spacing: 0.40px;
	/* label - large */
	--md-sys-typescale-label-large-font-family-name: Roboto;
	--md-sys-typescale-label-large-font-family-style: Medium;
	--md-sys-typescale-label-large-font-weight: 500px;
	--md-sys-typescale-label-large-font-size: 14px;
	--md-sys-typescale-label-large-line-height: 20px;
	--md-sys-typescale-label-large-letter-spacing: 0.10px;
	/* label - medium */
	--md-sys-typescale-label-medium-font-family-name: Roboto;
	--md-sys-typescale-label-medium-font-family-style: Medium;
	--md-sys-typescale-label-medium-font-weight: 500px;
	--md-sys-typescale-label-medium-font-size: 12px;
	--md-sys-typescale-label-medium-line-height: 16px;
	--md-sys-typescale-label-medium-letter-spacing: 0.50px;
	/* label - small */
	--md-sys-typescale-label-small-font-family-name: Roboto;
	--md-sys-typescale-label-small-font-family-style: Medium;
	--md-sys-typescale-label-small-font-weight: 500px;
	--md-sys-typescale-label-small-font-size: 11px;
	--md-sys-typescale-label-small-line-height: 16px;
	--md-sys-typescale-label-small-letter-spacing: 0.50px;
	/* title - large */
	--md-sys-typescale-title-large-font-family-name: Roboto;
	--md-sys-typescale-title-large-font-family-style: Regular;
	--md-sys-typescale-title-large-font-weight: 400px;
	--md-sys-typescale-title-large-font-size: 22px;
	--md-sys-typescale-title-large-line-height: 28px;
	--md-sys-typescale-title-large-letter-spacing: 0px;
	/* title - medium */
	--md-sys-typescale-title-medium-font-family-name: Roboto;
	--md-sys-typescale-title-medium-font-family-style: Medium;
	--md-sys-typescale-title-medium-font-weight: 500px;
	--md-sys-typescale-title-medium-font-size: 16px;
	--md-sys-typescale-title-medium-line-height: 24px;
	--md-sys-typescale-title-medium-letter-spacing: 0.15px;
	/* title - small */
	--md-sys-typescale-title-small-font-family-name: Roboto;
	--md-sys-typescale-title-small-font-family-style: Medium;
	--md-sys-typescale-title-small-font-weight: 500px;
	--md-sys-typescale-title-small-font-size: 14px;
	--md-sys-typescale-title-small-line-height: 20px;
	--md-sys-typescale-title-small-letter-spacing: 0.10px;
}